extends layout
block content
    p level task
    #taskDiv 
    button(onclick='getTask(1)') get task
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    //- link(href='/javascripts/taskRequest.js')
    <script src="/javascripts/taskRequest.js"></script>
    